.spacing {
	letter-spacing: 16px;
}

.btn-transparent {
	background: transparent;
	border-style: solid;
	border-radius: 12px;
	border-color: #ffffff;
	color: #ffffff;
	padding: 16px 22px 16px 22px;
	transition: all .4s;
}

.btn-transparent:hover {
	background: rgba(255,255,255,0.2);
	border-style: solid;
	border-radius: 12px;
	color: #ffffff;
	border-color: rgba(255,255,255,0.8);
	padding: 16px 22px 16px 22px;
	cursor: pointer;
}

.section-heading {
	letter-spacing: 4px;
	padding-bottom: 50px;
}

.deep-blue {
	color: #1a2027;
}